
Skiptocontent
Allgists
BacktoGitHub
@TheoBiardeau
@MOOOWOOO
MOOOWOOO/py-gitignore
Created6yearsago•Reportabuse

66

10

Code
Revisions1
Stars66
Forks10
pythonpycharmgitignore
py-gitignore
#Createdby.ignoresupportplugin(hsz.mobi)
###Pythontemplate
#Byte-compiled/optimized/DLLfiles
__pycache__/
*.py[cod]
*$py.class

#Cextensions
*.so

#Distribution/packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

#PyInstaller
#Usuallythesefilesarewrittenbyapythonscriptfromatemplate
#beforePyInstallerbuildstheexe,soastoinjectdate/otherinfosintoit.
*.manifest
*.spec

#Installerlogs
pip-log.txt
pip-delete-this-directory.txt

#Unittest/coveragereports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

#Translations
*.mo
*.pot

#Djangostuff:
*.log
local_settings.py

#Flaskstuff:
instance/
.webassets-cache

#Scrapystuff:
.scrapy

#Sphinxdocumentation
docs/_build/

#PyBuilder
target/

#IPythonNotebook
.ipynb_checkpoints

#pyenv
.python-version

#celerybeatschedulefile
celerybeat-schedule

#dotenv
.env

#virtualenv
venv/
ENV/

#Spyderprojectsettings
.spyderproject

#Ropeprojectsettings
.ropeproject
###VirtualEnvtemplate
#Virtualenv
#http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
###JetBrainstemplate
#CoversJetBrainsIDEs:IntelliJ,RubyMine,PhpStorm,AppCode,PyCharm,CLion,AndroidStudioandWebstorm
#Reference:https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

#User-specificstuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

#Sensitiveorhigh-churnfiles:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

#Gradle:
.idea/gradle.xml
.idea/libraries

#MongoExplorerplugin:
.idea/mongoSettings.xml

.idea/

##File-basedprojectformat:
*.iws

##Plugin-specificfiles:

#IntelliJ
/out/

#mpeltonen/sbt-ideaplugin
.idea_modules/

#JIRAplugin
atlassian-ide-plugin.xml

#Crashlyticsplugin(forAndroidStudioandIntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

@aletifov
aletifovcommentedonJan15,2020

ty
@ViktorLavrenenko
ViktorLavrenenkocommentedonMay2,2020

Thanks)
@JasonVanRaamsdonk
JasonVanRaamsdonkcommentedonMay14,2020

helpful,thanks
@Capelinha
CapelinhacommentedonMay28,2020

1st_place_medal
@chichur
chichurcommentedonJul19,2020

спасибо
@AVladyslav
AVladyslavcommentedonOct25,2020

thx
@voidloop
voidloopcommentedonNov7,2020

Thankyou!

'.Python'patternisdefinedmorethanonce.
@achraf-jeday
achraf-jedaycommentedonNov10,2020

Mercibeaucoup!!
@lenargasimov
lenargasimovcommentedonFeb25,2021

Thx!
@Joknaa
JoknaacommentedonMar31,2021

thanksyou
@KrishGarg
KrishGargcommentedonApr18,2021

You,myfriend,arealegend.Thanks!
@GreyEdwardTen
GreyEdwardTencommentedonMay20,2021

Thanksverymuch
@tlancon
tlanconcommentedonMay26,2021

Thankyou!
@zvarychdenys
zvarychdenyscommentedonJul7,2021

thanks!!!
@TheoBiardeau
Attachfilesbydragging&dropping,selectingorpastingthem.

©2022GitHub,Inc.

Terms
Privacy
Security
Status
Docs
ContactGitHub
Pricing
API
Training
Blog
About

